
<div class="container">
  
  <div class="row align-items-center pt-4"></div>
        <p class="text-secondary mb-0 text-center d-flex justify-content-center align-items-center">
          Esta historia de amor tiene su hogar en 
        </p>
        <div class="d-flex justify-content-center">
          <a href="https://webdeboda.es" target="_blank" rel="noopener noreferrer">
            <img src="/galeria/Logo.png" alt="Logo" style="height: 16px; vertical-align: middle; margin-left: 5px;">
          </a>
        </div>
    <!-- End Row -->
    <div class="row align-items-center pb-4"></div>
  <!-- End Row -->
</div>