
<div id="lista-hoteles" class="bg-dark"> 
  <!-- Hero -->
  <div class="overflow-hidden">
    <div class="container content-space-t-2">
      <div class="w-lg-65 text-center mx-lg-auto">
        <h2 class="text-white">Hoteles y apartamentos</h2>
        <p class="text-white">Para facilitar la búsqueda de alojamiento, te compartimos una selección de hoteles que quedan cerca del pazo. Además, en algunos de ellos hemos conseguido un descuento específico para el fin de semana de la boda.</p>
      </div>
    </div>
  </div>
  <!-- End Hero -->

  <!-- Card Grid -->
  <div class="container">
    <div class="row justify-content-lg-between">
      <div class="col-md-7">
        <!-- Swiper Slider -->
        <div class="swiper-center-mode-end text-center mb-3">
          <div class="js-swiper-card-grid swiper swiper-equal-height ps-4">
            <div class="swiper-wrapper" id="hoteles">
              {% for hotel in site.data.hoteles %}
                <!-- Slide -->
                <div class="swiper-slide pt-4 pb-8">
                  <!-- Card -->
                  {% if hotel.anotaciones %}
                  <a class="card card-transition" href="#"
                  data-bs-toggle="modal" data-bs-target="#modal{{hotel.id}}"
                 >
                 {% else %}
                 <a class="card card-transition" href="{{ hotel.web }}"
                 target="_blank"
                  >
                  {% endif %}
                  
                    <div class="card-pinned">
                      <img class="card-img-top" src="{{ hotel.imagen }}" alt="Image Description">
                        <span class="badge bg-dark text-white card-pinned-top-end fs-4">
                          {% if hotel.estrellas| plus: 0 %}
                          {% assign estrellas = hotel.estrellas | plus: 0 %}
                          {% for i in (1..5) %}
                            {% if i <= estrellas %}
                              ★
                            {% else %}
                              ☆
                            {% endif %}
                          {% endfor %}
                        {% else %}
                          {{ hotel.estrellas }}
                        {% endif %}
                         
                        </span>
                      {% if hotel.descuento %}
                      <div class="bg-success text-bg-success text-center p-2" style="position: absolute; bottom: 0; left: 0; width: 100%;">{{hotel.descuento}}</div>
                      {% endif %}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ hotel.nombre }}</h5>

                    </div>
                    <div class="card-footer pt0">
                      <div class="bg-light rounded mb-2 p-2">
                          <h5 class="text-secondary">Distancia al pazo</h5>
                          <p class="">
                              <i class="bi-geo-fill text-primary"></i> {{ hotel.distancia_metros }} metros
                              <br>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-walking text-primary" viewBox="0 0 16 16">
                                  <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0M6.44 3.752A.75.75 0 0 1 7 3.5h1.445c.742 0 1.32.643 1.243 1.38l-.43 4.083a1.8 1.8 0 0 1-.088.395l-.318.906.213.242a.8.8 0 0 1 .114.175l2 4.25a.75.75 0 1 1-1.357.638l-1.956-4.154-1.68-1.921A.75.75 0 0 1 6 8.96l.138-2.613-.435.489-.464 2.786a.75.75 0 1 1-1.48-.246l.5-3a.75.75 0 0 1 .18-.375l2-2.25Z"/>
                                  <path d="M6.25 11.745v-1.418l1.204 1.375.261.524a.8.8 0 0 1-.12.231l-2.5 3.25a.75.75 0 1 1-1.19-.914zm4.22-4.215-.494-.494.205-1.843.006-.067 1.124 1.124h1.44a.75.75 0 0 1 0 1.5H11a.75.75 0 0 1-.531-.22Z"/>
                              </svg> {{ hotel.distancia_tiempo }} minutos
                              <br>
                          </p>
                      </div>
                      {% if hotel.anotaciones %}
                        <span class="card-link">Ver Anotaciones</span>
                      {% else %}
                        <span class="card-link">Ir a la web</span>
                      {% endif %}
                    </div>
                  </a>
                  <!-- End Card -->
                </div>
                <!-- End Slide -->
            
              {% endfor %}
            </div>

            <div id="arrows" >
              <!-- Arrows -->
              <div class="js-swiper-card-grid-button-prev swiper-button-prev swiper-static-button-prev"></div>
              <div class="js-swiper-card-grid-button-next swiper-button-next swiper-static-button-next"></div>
            </div>
          </div>
        </div>
        <!-- End Swiper Slider -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
    <div id="modalesHoteles">
      {% for hotel in site.data.hoteles %}
        {% if hotel.anotaciones %}  
          <!-- Modal -->
          <div class="modal fade" id="modal{{hotel.id}}" tabindex="-1" aria-labelledby="modalLabel{{hotel.id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                  <img class="card-img-top mt-3" src="{{hotel.imagen}}" alt="Image Description">
                <div class="modal-body text-dark">
                  <h3 class="modal-title" id="modalLabel{{hotel.id}}">{{hotel.nombre}}</h3>
                  <p>{{hotel.anotaciones}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <a type="button" class="btn btn-primary" href="{{hotel.web}}" target="_blank">Reservar</a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Modal -->
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!-- End Card Grid -->

</div>
