<div id="lista-novios">
<div class="container content-space-t-2">
    <!-- Card Grid -->
    <div class="overflow-hidden">
            <!-- Heading -->
            <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
                <h1>Participa en nuestra historia</h1>
                <!-- <p>Para nosotros lo más importante es tú compañía en nuestro día más especial. Si de todas formas quieres formar parte del inicio de nuestra aventura, estas son algunas experiencias y colaboraciones en las que nos puedes ayudar.</p> -->
                <p>Esta sección es nuestra lista de bodas. Si quieres te la puedes saltar, porque para nosotros los más importante es contar con tu presencia. Si de todas formas quieres hacernos un regalo para que empecemos nuestra aventura juntos, te dejamos algunas sugerencias.</p>
                <h6>¡Contribuye al regalo que quieras!</h6>
            </div>
            <!-- End Heading -->

            <div class="row justify-content-center" id="regalos">
                
                <!-- Cargar las secciones de forma dinámica -->
                {% assign secciones = site.data.regalos | map: "seccion" | uniq %}
                {% for seccion in secciones %}

                    <!-- Título de la sección -->
                    <!-- Sección -->
                    <div class="text-center mx-lg-auto">
                        <h3 class="divider-center mb-5">{{seccion}}</h3>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-7 justify-content-center">

                    <!-- Se itera sobre los regalos que pertenecen a la sección actual -->
                    {% assign regalos = site.data.regalos | where: "seccion", seccion %}
                    {% for regalo in regalos %}

                        <!-- Col -->
                        <div class="col mb-7 mb-md-10">
                            <!-- Card -->
                            <div class="card card-ghost card-transition-zoom h-100">
                                <a data-bs-toggle="collapse" href="#R{{regalo.id}}IBAN" role="button" onclick="document.getElementById('R{{regalo.id}}Imagen').scrollIntoView({ behavior: 'smooth'});">
                                    <!-- Foto -->
                                    <div class="card-pinned card-transition-zoom-item" id="R{{regalo.id}}Imagen" >
                                        <img class="card-img" src="{{regalo.imagen}}" alt="Image Description">
                                    </div>
                                    <!-- Texto -->
                                    <div class="card-body">
                                        <h4>{{regalo.nombre}}</h4>
                                        <p class="card-text">{{regalo.descripcion}}</p>
                                    </div>
                                    {% assign recaudado = regalo.recaudado | plus: 0 | times: 100%}
                                    {% assign coste = regalo.coste | plus: 0 %}
                                    {% assign porcentaje_recaudado = recaudado | divided_by: coste  | round %}
                                    <!-- Barra de progreso -->
                                    <div class="progress mb-3" style="height: 15px;">
                                        <div  class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{porcentaje_recaudado}}%">{{ porcentaje_recaudado }}%</div>
                                    </div>
                                    <!-- Participa -->
                                    <div class="card-footer text-start">
                                        <span class="card-link">Regalar</span>
                                    </div>
                                </a>
                                <!-- End Card -->
                                <!-- IBAN -->
                                <div class="collapse mt-5" id="R{{regalo.id}}IBAN">
                                    <div class="alert alert-soft-primary" role="alert">
                                        <b>IBAN:</b> {{ site.IBAN }}
                                        <br>
                                        <b>Código BIC/SWIFT:</b> {{ site.codigo_bic }}
                                        <br>
                                        <b>Concepto:</b> {{regalo.nombre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                    {% endfor %}
                </div>
            </div>
            <!-- End Sección -->
                {% endfor %}
            <!-- Sección -->
        <div class="text-center mx-lg-auto">
            <h3 class="divider-center mb-5">Transferencia bancaria</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-7 justify-content-center" id="sec-transferencia"></div>
        </div>
        <!-- End Sección -->

        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
            <div class="alert alert-soft-primary" role="alert">
                Si no te convence ninguna de las opciones anteriores pero aún así quieres ayudarnos, puedes hacernos una transferencia bancaria a la siguiente cuenta.
                <br><br>
                <h4 style="color: #77BFA3;">{{ site.IBAN }}</h4>
            </div>
        </div>
                

            </div>
            <!-- End Row -->

    </div>
    <!-- End Card Grid -->
</div>
</div>